.wrapper {
    position: relative;
}

.input {
    width: 100%;
    height: 40px;
    padding: 10px 40px;
    border: none;
    border-radius: 100px;
    background: #BCBCBC;
    transition: 200ms;

    &:focus {
		border: none;
		outline: 2px solid var(--card-bg);
    }

    &:hover {
        filter: brightness(0.9);
    }
}

.button {
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
}

.icon {
    width: 30px;
    height: 30px;
    z-index: 50000;
}