.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.primary {
    color: var(--secondary-color)
}

.error {
    color: red;
}

.warning {
    color: darkorange;
}
