.text {
    font: var(--font-m);
}

.bold {
    p {
        font-weight: bold !important;
    }

    h1 {
        font-weight: bold !important;
    }
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.primary {
    color: var(--secondary-color)
}

.error {
    color: red;
}

.warning {
    color: darkorange;
}
