:root {
    --bg-color: linear-gradient(120deg, #3B4557 -1.27%, #191E27 103.13%);

    // текст
    --primary-color: #BCBCBC;
    --inverted-primary-color: #1D222A;

    // skeleton
    --skeleton-shadow: #275594;
    --skeleton-color: #0e0e75;

    // card
    --card-bg: #8ca3c2;
    --listox-bg: #8ca3c2;
}
