.title {
    * {
        color: #000 !important;
        font-weight: bold !important;
    }
}

.text {
    * {
        color: #000 !important;
    }
}

.backButton {
    margin-top: 20px;
    align-self: center;
}

.linkIcon {
    width: 30px;
    height: 30px;
}
